
@import "./ui/index";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.grecaptcha-badge,
.grecaptcha-badge * {
  display: none !important;
}

.ant-layout-header{
  background: unset;
  padding: 0;

}

.btn_margin{
  margin-top: 0.75rem !important;
}